.navigationOptions{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.navigationVariousOptions{
    float:right;
    margin-right:10px;
}
.navigationLink{
    margin:0;
}
.navigationClass{
    background-color: #0F52BA;
    padding:20px;
    clear: both;
}
.navigaionButtons{
    padding:5px;
}